# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.db

# Visual Studio 6 workspace options file
*.opt

# Visual Studio 6 build log
*.plg

# Build results
[Dd]ebug/
[Rr]elease/
obj/

# Linux Binary
littlec

# Visual Studio 2015 cache/options directory
.vs/

# Dev-C++ Files
*.layout

# Borland C++ Files
*.~*
*.tds

# Open Watcom Files
*.lk1
*.map
*.mk
*.mk1
*.sym

# Quick C Files
qc.ini
*.err
*.ilk
*.mdt

# Visual Studio code
.vscode